registry=https://daxeos-921881026300.d.codeartifact.us-west-2.amazonaws.com/npm/dax-coreinfra-dev-codeartifact-uswest2-npm/
//daxeos-921881026300.d.codeartifact.us-west-2.amazonaws.com/npm/dax-coreinfra-dev-codeartifact-uswest2-npm/:always-auth=true
//daxeos-921881026300.d.codeartifact.us-west-2.amazonaws.com/npm/dax-coreinfra-dev-codeartifact-uswest2-npm/:_authToken=${TOKEN}
